<ion-header>
  <ion-toolbar>
    <ion-title>Baby Tracker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="babyList; else noBaby">
    <ion-item lines="none" >
      <ion-avatar slot="start">
        <img src="/assets/image/icon.png">
      </ion-avatar>
      <ion-label>Name: {{babyList.name}}<br />Age: {{babyList.age}}<br />Gender:
        {{babyList.gender}}</ion-label>
    </ion-item>
    <ion-card *ngFor="let data of babyTrackerData1" style="background:white">
        <ion-card-header>
          Time:{{ data.payload.doc.data().time }}
        </ion-card-header>
        <ion-card-content>
          Health Record: {{ data.payload.doc.data().healthRecord }}
        </ion-card-content>
      </ion-card>
    
      <ion-card *ngFor="let data of babyTrackerData2" style="background:white">
          <ion-card-header>
           start Time:{{ data.payload.doc.data().startTime }}
          </ion-card-header>
          <ion-card-content>
            end time: {{ data.payload.doc.data().endTime }}
          </ion-card-content>
        </ion-card>
    
        <ion-card *ngFor="let data of babyTrackerData3" style="background:white">
            <ion-card-header>
              Time:{{ data.payload.doc.data().time }}
            </ion-card-header>
            <ion-card-content>
              Status: {{ data.payload.doc.data().status }}
            </ion-card-content>
          </ion-card>
    
          <ion-card *ngFor="let data of babyTrackerData4" style="background:white">
              <ion-card-header>
                Time:{{ data.payload.doc.data().time }}
              </ion-card-header>
              <ion-card-content>
                Milk: {{ data.payload.doc.data().milk }}
              </ion-card-content>
              <ion-card-content>
                Food: {{ data.payload.doc.data().food }}
              </ion-card-content>
            </ion-card>
  </div>
  <ng-template #noBaby>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="/assets/image/icon.png">
      </ion-avatar>
      <ion-label>Non Baby chosen! <br> Please choose your baby<br> in your baby list in profile <br></ion-label>
    </ion-item>
  </ng-template>

  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/tabs/baby-tracker/baby-tracker-menu" [disabled]="babyId==null">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>