<ion-header>
  <ion-toolbar>
    <ion-title>Baby Tracker</ion-title>
    <ion-buttons slot="end">
        <ion-button color="danger" (click)="makePdf()"[disabled]="babyId==null">
          <ion-icon name="document"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="babyList; else noBaby">
    <ion-item lines="none" >
      <ion-avatar slot="start">
        <img src="/assets/image/icon.png">
      </ion-avatar>
      <ion-label>Name: {{babyList.name}}<br />Age: {{babyList.age}} {{babyList.ageType}}<br />Gender:
        {{babyList.gender}}</ion-label>
    </ion-item>
    <ion-list-header>
        <ion-label><ion-icon name="heart-half" color="danger"></ion-icon>Baby Health Record</ion-label>
    </ion-list-header>
    <ion-card *ngFor="let babyHealthRecord of babyTrackerData1" routerLink="/tabs/baby-tracker/baby-tracker-health/{{babyHealthRecord.payload.doc.id}}" style="background:white">
        <ion-card-header>
            <strong>Time:</strong>{{ babyHealthRecord.payload.doc.data().time|date:"medium" }}
        </ion-card-header>
        <ion-card-content>
            <strong>Health Record:</strong> {{ babyHealthRecord.payload.doc.data().healthRecord }}
        </ion-card-content>
      </ion-card>
    
      <ion-list-header>
          <ion-label><ion-icon name="bed" color="secondary"></ion-icon>Baby Sleep</ion-label>
        </ion-list-header>
      <ion-card *ngFor="let babySleep of babyTrackerData2" routerLink="/tabs/baby-tracker/baby-tracker-sleep/{{babySleep.payload.doc.id}}" style="background:white">
          <ion-card-header>
              <strong>start Time:</strong>{{ babySleep.payload.doc.data().startTime|date:"medium" }}
          </ion-card-header>
          <ion-card-content>
              <strong>end time:</strong> {{ babySleep.payload.doc.data().endTime|date:"medium" }}
          </ion-card-content>
          <ion-card-content>
              <strong>Total:</strong> {{ babySleep.payload.doc.data().total|number: '1.0-1' }} Hrs
          </ion-card-content>
        </ion-card>
    
        <ion-list-header>
            <ion-label><ion-icon name="repeat" color="tertiary"></ion-icon>Baby Diaper</ion-label>
          </ion-list-header>
        <ion-card *ngFor="let babyDiaper of babyTrackerData3" routerLink="/tabs/baby-tracker/baby-tracker-diaper/{{babyDiaper.payload.doc.id}}" style="background:white">
            <ion-card-header>
                <strong>Time:</strong>{{ babyDiaper.payload.doc.data().time|date:"medium" }}
            </ion-card-header>
            <ion-card-content>
                <strong>Status:</strong> {{ babyDiaper.payload.doc.data().status }}
            </ion-card-content>
          </ion-card>
    
          <ion-list-header>
              <ion-label><ion-icon name="restaurant" color="success"></ion-icon>Baby Feed</ion-label>
            </ion-list-header>
          <ion-card *ngFor="let babyFeeding of babyTrackerData4" routerLink="/tabs/baby-tracker/baby-tracker-feeding/{{babyFeeding.payload.doc.id}}" style="background:white">
              <ion-card-header>
                  <strong>Time:</strong>{{ babyFeeding.payload.doc.data().time|date:"medium" }}
              </ion-card-header>
              <ion-card-content>
                  <strong>Milk:</strong> {{ babyFeeding.payload.doc.data().milk }} {{babyFeeding.payload.doc.data().volume}}
              </ion-card-content>
              <ion-card-content>
                  <strong>Food:</strong> {{ babyFeeding.payload.doc.data().food }}
              </ion-card-content>
            </ion-card>
  </div>
  <ng-template #noBaby> 
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="/assets/image/icon.png">
      </ion-avatar>
      <ion-label>Non Baby chosen! <br> Please choose your baby<br> in your baby list in profile <br></ion-label>
    </ion-item>
  </ng-template>

  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="danger" class="help"routerLink="/tabs/baby-tracker/baby-tracker-tip" >
        <ion-icon class="icon-fab"name="help"></ion-icon>
      </ion-fab-button>
    <ion-fab-button routerLink="/tabs/baby-tracker/baby-tracker-menu" [disabled]="babyId==null">
      <ion-icon class="icon-fab"name="add"></ion-icon>
    </ion-fab-button>
   
  </ion-fab>
</ion-content>