<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button  defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>tips-for-dad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let tipForDad of tipsForDad" routerLink="/tabs/home/tips-for-dad/{{tipForDad.payload.doc.id}}">
      <ion-card-header>
        {{ tipForDad.payload.doc.data().title }}
      </ion-card-header>
      <ion-card-content>
        Content: {{ tipForDad.payload.doc.data().content }}
      </ion-card-content>
    </ion-card>
</ion-content>
