<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button  defaultHref="tabs/baby-tracker/baby-tracker-menu"></ion-back-button>
        </ion-buttons>
    <ion-title>Sleep Tracker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form [formGroup]="sleep_form" (submit)="createBabyTrackerSleep(sleep_form.value)">
        <ion-item>
            <ion-label position="stacked" color="primary">Start Time</ion-label>
            <ion-datetime formControlName="startTime" display-Format="DD MMMM YYYY hh:mm A" required>
            </ion-datetime>
          </ion-item>
        <ion-item>
          <ion-label position="stacked" color="primary">End Time</ion-label>
          <ion-datetime formControlName="endTime" display-Format="DD MMMM YYYY hh:mm A" required>
            </ion-datetime>
        </ion-item>
        <ion-button ion-button expand="block" type="submit" [disabled]="!sleep_form.valid">Add</ion-button>
      </form>
    </ion-card>
</ion-content>
