<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button  defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Tips For Baby</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let babyTip of babyTips" routerLink="/tabs/home/baby-tips/{{babyTip.payload.doc.id}}">
      <ion-card-header>
        {{ babyTip.payload.doc.data().title }}
      </ion-card-header>
      <ion-card-content>
        Content {{ babyTip.payload.doc.data().content }}
      </ion-card-content>
    </ion-card>
</ion-content>
