<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button  defaultHref="tabs/baby-recipes"></ion-back-button>
          </ion-buttons>
          <ion-buttons slot="end">
              <ion-button (click)="shareContent(recipe)">
                  <ion-icon name="share"></ion-icon>
              </ion-button>
          </ion-buttons>
        <ion-title>{{recipe.title}}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <h3> Content </h3>
      <ul *ngFor="let content of recipe.content">
         <li>{{content}}</li>
      </ul>
    
    
  </ion-content>
  