<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button  defaultHref="tabs/baby-recipes"></ion-back-button>
          </ion-buttons>
          <ion-buttons slot="end">
              <ion-button (click)="shareContent(recipe)">
                  <ion-icon name="share"></ion-icon>
              </ion-button>
          </ion-buttons>
        <h5 style="margin-left:10px;">{{recipe.title}}</h5>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <img src="{{recipe.image}}" style="width:100%;height:300px;" alt="Baby Recipe image"> 
      <h3> Time For This Recipe:{{recipe.time}} </h3>
      <h3> Suitable For Baby Age:{{recipe.age}} </h3>
      <h3>Ingredients List</h3>
      <ul *ngFor="let ingredient of recipe.ingredients">
         <li>{{ingredient}}</li>
      </ul>
      <h3>Method</h3>
      <ul *ngFor="let method of recipe.method">
         <li>{{method}}</li>
      </ul>

    
    
  </ion-content>
  