<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button  defaultHref="tabs/baby-memory"></ion-back-button>
        </ion-buttons>
    <ion-title>New Baby Memory</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form [formGroup]="baby_memory_form" (submit)="createBabyMemory(baby_memory_form.value)">
    <ion-list class="form-list">
      <ion-item>
        <ion-label color="primary" stacked>Your Title</ion-label>
        <ion-input type="text" formControlName="title" clearInput placeholder="set image title"></ion-input>
      </ion-item>
      <div>
        <ng-container *ngFor="let validation of validation_messages.title">
          <div class="error-message" *ngIf="baby_memory_form.get('title').hasError(validation.type) && (baby_memory_form.get('title').dirty || baby_memory_form.get('title').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <img src="{{myPhoto}}"/>
      <ion-button expand='block' (click)="takePhotoBabyMemoryPicture()">
          <ion-icon name="camera"></ion-icon>
          Take Pickture
      </ion-button>
      <ion-button expand='block' (click)="takeBabyMemoryPicture()">
          <ion-icon name="images"></ion-icon>
          Choose from photo
      </ion-button>
      <ion-button ion-button expand='block' type="submit"  [disabled]="!baby_memory_form.valid">Add</ion-button>
    </ion-list>
    </form>
  </ion-card>
    
    <ion-label class="error-message">{{errorMessage}}</ion-label>
  </ion-content>
