.container
{
    height: 100%;
}
ion-slide {
    height: 100vh;
    flex-direction: column;
}

ion-img {
    max-width: 50vw;
    max-height: 50vh;
    overflow: hidden;
}
.firstStep {
    background: lightblue;
    color:black;
}
.secondStep {
    background: lightgreen;
    color:black;

}

.finalStep {
    background:pink;
    color:black;

}