<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Baby Tips</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="baby-tracker">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Baby Tracker</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="baby-recipes">
      <ion-icon name="send"></ion-icon>
      <ion-label>Baby Recipes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="baby-memory">
      <ion-icon name="add"></ion-icon>
      <ion-label>Baby Memory</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
