<ion-header>
    <ion-toolbar>
      <ion-title>Baby Recipes List</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div *ngIf="isLoaded">
      <ion-card *ngFor="let babyRecipe of babyRecipes" routerLink="/tabs/baby-recipes/{{babyRecipe.payload.doc.id}}">
        <img src="{{babyRecipe.payload.doc.data().image}}"/>
        <ion-card-title>
          {{babyRecipe.payload.doc.data().title}}
        </ion-card-title>
        <ion-card-content>
          Brief content:{{babyRecipe.payload.doc.data().content}}
        </ion-card-content>
        <ion-card-content>
           Time:{{babyRecipe.payload.doc.data().time}}
        </ion-card-content>
      </ion-card>
    </div>

    <div *ngIf="!isLoaded">
        <ion-card *ngFor="let babyRecipe of [1,2,3,4]">
            <ion-card-title>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </ion-card-title>
              <ion-card-content>
                  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </ion-card-content>
              <ion-card-content>
                  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </ion-card-content>
        </ion-card>
    </div>
  </ion-content>
  