<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button  defaultHref="tabs/baby-tracker"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="delete()">
                <ion-icon name="trash"></ion-icon>
            </ion-button>
        </ion-buttons>
        <h3 style="margin-left: 10px">Baby Diaper Detail</h3>
      </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="tracker_diaper_form" (submit)="updateBabyTrackerDiaperSubmit(tracker_diaper_form.value)">
        <ion-item>
            <ion-label position="stacked" color="primary">Time</ion-label>
            <ion-datetime formControlName="time" display-Format="DD MMMM YYYY hh:mm a">
            </ion-datetime>
          </ion-item>
        <ion-item>
          <ion-label position="stacked" color="primary">Status</ion-label>
          <ion-select multiple="false" interface="popover" formControlName="status" placeholder="{{baby?.gender}}">
              <ion-select-option value="dry">Dry</ion-select-option>
              <ion-select-option value="wet">Wet</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-button ion-button block type="submit" [disabled]="!tracker_diaper_form.valid">Update</ion-button>
      </form>
</ion-content>
