<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button  defaultHref="tabs/baby-tracker"></ion-back-button>
        </ion-buttons>
    <ion-title>baby-tracker-menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <div style="text-align: center; margin-top: 50px;">
        <ion-row style="height:100px;">
          <ion-col style="background:#F9D2D3;" routerLink="/tabs/baby-tracker/baby-tracker-menu/baby-tracker-sleep" >
            Sleep
          </ion-col>
          <ion-col style="background:#77d353; margin-left:30px;" routerLink="/tabs/baby-tracker/baby-tracker-menu/baby-tracker-diaper">
            Diaper
          </ion-col>
        </ion-row >
        <ion-row style="margin-top:40px;height:100px;">
          <ion-col style="background:#13ceb1;" routerLink="/tabs/baby-tracker/baby-tracker-menu/baby-tracker-feeding">
            Feeding
          </ion-col>
          <ion-col style="background:#ff9052; margin-left:30px;" routerLink="/tabs/baby-tracker/baby-tracker-menu/baby-tracker-health">
            Health
          </ion-col>
        </ion-row>
        </div>
      </ion-grid>
</ion-content>
