<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-back-button  defaultHref="tabs/baby-tracker"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
        <ion-button (click)="deleteHealthRecord()">
            <ion-icon name="trash"></ion-icon>
        </ion-button>
    </ion-buttons>
    <h3 style="margin-left: 10px">Health Record Detail</h3>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="health_record_form" (submit)="updateHealthBabyRecordSubmit(health_record_form.value)">
        <ion-item>
            <ion-label position="stacked" color="primary">Time</ion-label>
            <ion-datetime formControlName="time" display-Format="DD MMMM YYYY hh:mm A">
            </ion-datetime>
          </ion-item>
        <ion-item>
          <ion-label position="stacked" color="primary">Enter Summary Of Health Record</ion-label>
          <ion-input type="text" formControlName="healthRecord"></ion-input>
        </ion-item>
        <ion-button ion-button block type="submit" [disabled]="!health_record_form.valid">Update</ion-button>
      </form>
</ion-content>
