<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
          <ion-back-button  defaultHref="/tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Terms And Condition</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Terms and conditions</h1>
  <p>These terms and conditions ("Terms", "Agreement") are an agreement between Mobile Application Developer ("Mobile Application Developer", "us", "we" or "our") and you ("User", "you" or "your"). This Agreement sets forth the general terms and conditions of your use of the Baby Boss mobile application and any of its products or services (collectively, "Mobile Application" or "Services")</p>
  <div *ngFor="let termsAndCondition of termsAndConditions ">
    <h2>{{termsAndCondition.title}}</h2>
    <p>{{termsAndCondition.content}}</p>
  </div>

</ion-content>
