<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button  defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Tips For Mom</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let tipForMom of tipsForMom" routerLink="/tabs/home/tips-for-mom/{{tipForMom.payload.doc.id}}">
      <ion-card-header>
        {{tipForMom.payload.doc.data().title}}
      </ion-card-header>
      <ion-card-content>
        Tip content:{{tipForMom.payload.doc.data().content}}
      </ion-card-content>
    </ion-card>
</ion-content>
