<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button  defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>tips-for-mom</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let tipForMom of tipsForMom | async" routerLink="/tabs/home/tips-for-mom/tips-for-mom-detail/{{tipForMom.id}}">
      <ion-card-header>
        {{ tipForMom.title }}
      </ion-card-header>
      <ion-card-content>
        Artist Name: {{ tipForMom.content }}
      </ion-card-content>
    </ion-card>
</ion-content>
