<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="tabs/baby-tracker"></ion-back-button>
        </ion-buttons>
    <ion-title>Guide Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card style=' font-size: 20px;'>
        <ion-card-header style="text-align: center;">
            Average Sleep Time Per Day Chart
          </ion-card-header>
          <ion-card-content>
    <canvas id="myBabySleepChart" width="100%" height="100%"></canvas>
  </ion-card-content>
</ion-card>
<ion-card style=' font-size: 20px;'>
    <ion-card-header style="text-align: center;">
        Average Diapers Per Day Chart
      </ion-card-header>
      <ion-card-content>
<canvas id="myBabyDiaperChart" width="100%" height="100%"></canvas>
</ion-card-content>
<ion-card-content>
  *Note:the diapers will be decreased by aged increase of baby.
</ion-card-content>
</ion-card>

<p>Unusual development lead to bad result</p>
<p>You can rely on these table to compare with your baby tracker, if some of the activities such as sleep times, feed rates, or diaper happen unevenly not like standard chart in long periods, you have to tell your doctors about it to find out the problems with your baby</p>

</ion-content>
