<ion-header>
  <ion-toolbar>
    <ion-title>Add Your Baby</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form [formGroup]="addFirstBabyForm" (submit)="onSubmit(addFirstBabyForm.value)">
        <ion-item lines="none">
          <ion-label position="stacked" color="primary">Baby Name</ion-label>
          <ion-input type="text" formControlName="name" required></ion-input>
        </ion-item>
        <ion-grid>
        <ion-row>
          <ion-col>
        <ion-item lines="none">
          <ion-label position="stacked" color="primary">Baby Age</ion-label>
          <ion-input type="number" formControlName="age" required></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item lines="none"> 
            <ion-label position="stacked" color="primary">Baby Age Type</ion-label>
            <ion-select multiple="false" interface="popover" formControlName="ageType">
                <ion-select-option value="Weeks">Weeks</ion-select-option>
              <ion-select-option value="Months">Months</ion-select-option>
              <ion-select-option value="YearsOld">YearsOld</ion-select-option>
            </ion-select>
          </ion-item>
          </ion-col>
          </ion-row>
        </ion-grid>
        <ion-item lines="none">
            <ion-label position="stacked" color="primary">Baby's Gender</ion-label>
            <ion-select multiple="false" interface="popover" formControlName="gender">
              <ion-select-option value="boy">Boy</ion-select-option>
              <ion-select-option value="girl">Girl</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-button ion-button expand="block" type="submit" [disabled]="!addFirstBabyForm.valid">Add Baby</ion-button>
      </form>
    </ion-card>
      <ion-button expand="block" (click)="goToProfilePage()">Go To Profile</ion-button>
</ion-content>
