<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <h1> Register</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="/assets/image/icon.png" alt="babyboss logo">
  <form [formGroup]="signupForm" (submit)="emailSignup(signupForm.value)">
    <ion-list class="form-list">
      <ion-item class="email">
        <ion-label color="primary" stacked>Email</ion-label>
        <ion-input type="email" formControlName="email" clearInput></ion-input>
      </ion-item>
      <div>
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message" *ngIf="signupForm.get('email').hasError(validation.type) && (signupForm.get('email').dirty || signupForm.get('email').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item class="password">
        <ion-label color="primary" stacked>Password</ion-label>
        <ion-input type="password" formControlName="password" clearInput></ion-input>
      </ion-item>
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message" *ngIf="signupForm.get('password').hasError(validation.type) && (signupForm.get('password').dirty || signupForm.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
      <ion-item>
        <ion-grid style="color:red; padding:0;">
          <ion-row style="padding: 0;">
            <ion-col>
              <a [routerLink]="'/privacy/'">Agree Privacy And Policy</a>
            </ion-col>
            <ion-col size="1" style="padding:0;">
              <ion-checkbox  style="margin:0;" formControlName="termsAccept"></ion-checkbox>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-button ion-button expand="block" type="submit" [disabled]="!signupForm.valid">SIGN UP</ion-button>
    </ion-list>
  </form>
  <ion-label class="error-message">{{errorMessage}}</ion-label>
</ion-content>